<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="chat-actor-name" value="ChatActor" />
    <add key="my-actorsystem" value="ChatSystem-cluster" />
    <add key="route" value="akka.tcp://ChatSystem-client@localhost:xxxxxx" />
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
akka {
    actor {
        serializers {
            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
        }
        
        serialization-bindings {
            "System.Object" = wire
        }
          provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
     deployment {
        /api/myClusterGroupRouter {
          router = broadcast-group # routing strategy
          routees.paths = ["/user"] # path of routee on each node
          nr-of-instances = 3 # max number of total routees
          cluster {
             enabled = on
             allow-local-routees = on
            
          }
        }
      }
        debug {  
            receive = on 
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
        }
    }
    remote {
                helios.tcp {
                    port = 40000
                    hostname = 0.0.0.0
                    public-hostname = localhost
                }
            }
            
              cluster {
       seed-nodes = ["akka.tcp://ChatSystem-cluster@localhost:4053"] # address of seed node
   
    }
}
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>